:root {
    --theme-color: #57B948;
    --theme-sec-color: #E8E8E8;
    --black: black;
    --white: white;
    --text-color: #606060;
    --grey-color-2: #f6f6f6;
    --grey-color-3: #f6f6f6;
    --grey-color-4: #f6f6f6;
}