@use '../../utils' as *;

.about-area{
    background-color: var(--theme-sec-color);
    & p{
        font-size: 2.2rem;
        line-height: 3rem;
        color: #606060;
        text-align: center;
        @include lg{
            font-size: 1.5rem;
        }
    }
}