@use '../../utils' as *;

.team-image-area{

    &  .card-header{
       display: flex;
       justify-content: center;
        padding: 2rem;
        .img-border {
            border: 3px solid #ccc;
            padding: 3px;
        }
    }
    & .card-body{
        text-align: center;
        h6{
            font-weight: 500;
        }
        span{
            display: block;
        }
    }
}



